@import "../../materialize/sass/materialize";

$base-color: "blue";

.centered-container {
    max-width: 1200px;
    margin: auto;
}

nav {
    background-color: color($base-color, "base");
    ul li:hover {
        background-color: color($base-color, "lighten-1");
    }
}

.card-content {
    height: 150px;
    h1 {
        background-color: color($base-color, "base");
        border: 1px white solid;
        color: white;
        padding: 0 20px;
    }
    img {
    }
}
