<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Winball</title>
    <link rel="stylesheet" href="content/css/style.css">
</head>

<body ng-app="winball" ng-controller="mainController">
    <nav>
        <div class="centered-container">
            <a href="#" class="brand-logo">Winball</a>
            <ul id="nav-mobile" class="right side-nav">
                <li><a href="#">About</a>
                </li>
                <li><a href="#">Licence</a>
                </li>
                <li><a href="#">Contribute</a>
                </li>
            </ul>
            <a class="button-collapse" href="#" data-activates="nav-mobile" material-nav>
                <i class="mdi-navigation-menu"></i>
            </a>
        </div>
    </nav>
    <div class="centered-container">
        <div class="input-field">
            <input type="text" required ng-model="search" />
            <label>Search</label>
        </div>
        <div class="row">
            <div class="col s12 m6" ng-repeat="theme in themes | filter:search">
                <div class="card">
                    <div class="card-content">
                        <img ng-src="{{ theme.thumbnail }}">
                        <h1>{{ theme.name }} </h1>
                    </div>
                    <div class="card-footer">
                        <p>Built by {{ theme.author }}</p>
                        <a href="" class="waves-effect waves-light blue btn">Information</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 3rd party libraries -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jQuery/dist/jquery.js"></script>
    <script src="materialize/js/materialize.js"></script>

    <!-- Load app main script -->
    <script src="app/app.js"></script>

    <!-- Load controllers -->
    <script src="app/controllers/mainController.js"></script>

    <!-- Load custom directives -->
    <script src="app/directives/material-nav.js"></script>

</body>

</html>